{% extends 'base.html' %}

 {% block header %}

{% endblock %}

    {% block content %}
<br>
<br>
<div class="container-lg">
  <div id="carousel" class="carousel carousel-dark slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{url_for('static', filename='Images/kamil-s-v48ltAEM1As-unsplash.jpg')}}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">BEST CONSOLE BY NUMBER OF GAMES</h5>
            <p class="card-text">What is the best video game console to invest in based on the number of game copies sold globally over the past seven years?</p>
          </div>
          <div class="card-footer">
            <a href="/Investment" class="card-link">See the Chart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='Images/sean-stone-dkb3wApu5XQ-unsplash.jpg')}}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">MOST SUCCESSFUL PUBLISHER BY CONSOLE</h5>
            <p class="card-text">Who are the most successful publishers by console?</p>
          </div>
          <div class="card-footer">
            <a href="/PublisherPerConsole" class="card-link">See the Chart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{{url_for('static', filename='Images/kamil-s-13W6AqIKV_I-unsplash.jpg')}}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">MOST POPULAR GENRE BY REGION</h5>
            <p class="card-text">What type of game is most popular in each Region?</p>
          </div>
          <div class="card-footer">
            <a href="/Evaluation" class="card-link">See the Chart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

{% endblock %}