{% extends 'base.html' %}

 {% block header %}

{% endblock %}
    {% block content %}
<div class="row">
    <div class="col-md-4">
        <canvas id="myChart" width="100" height="100"></canvas>
    </div>
    <div class="col-md-4">
        <form method="post">
            <select class="form-select" name="platform" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value = "DS">DS</option>
                <option value = "X360">X360</option>
                <option value = "PS3">PS3</option>
                <option value = "Wii">Wii</option>
                <option value = "GBA">GBA</option>
                <option value = "PS2">PS2</option>
                <option value = "PS">PS</option>
                <option value = "SNES">SNES</option>
                <option value = "NES">NES</option>
                <option value = "GB">GB</option>
                <option value = "3DS">3DS</option>
                <option value = "PS4">PS4</option>
                <option value = "N64">N64</option>
                <option value = "XB">XB</option>
                <option value = "PC">PC</option>
                <option value = "XOne">XOne</option>
                <option value = "WiiU">WiiU</option>
                <option value = "2600">2600</option>
                <option value = "GC">GC</option>
                <option value = "PSP">PSP</option>
                <option value = "GEN">GEN</option>
                <option value = "DC">DC</option>
                <option value = "PSV">PSV</option>
                <option value = "SAT">SAT</option>
                <option value = "SCD">SCD</option>
                <option value = "WS">WS</option>
                <option value = "NG">NG</option>
                <option value = "TG16">TG16</option>
                <option value = "3DO">3DO</option>
                <option value = "GG">GG</option>
                <option value = "PCFX">PCFX</option>


            </select>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ xs | safe }},
        datasets: [{
            label: 'Global Sales In Millions',
            data: {{ ys }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',

                'rgba(250, 100, 128, 0.2)',
                'rgba(57, 160, 230, 0.2)',
                'rgba(225, 180, 86, 0.2)',
                'rgba(150, 192, 192, 0.2)',
                'rgba(88, 102, 255, 0.2)',
                'rgba(230, 159, 64, 0.2)',

                'rgba(255, 150, 132, 0.2)',
                'rgba(54, 100, 235, 0.2)',
                'rgba(255, 250, 86, 0.2)',

                'rgba(75, 192, 170, 0.2)',
                'rgba(153, 102, 52, 0.2)',
                'rgba(255, 159, 80, 0.2)',

                'rgba(255, 99, 104, 0.2)',
                'rgba(54, 102, 235, 0.2)',
                'rgba(200, 206, 86, 0.2)',
                'rgba(50, 192, 192, 0.2)',
                'rgba(153, 142, 255, 0.2)',
                'rgba(255, 159, 100, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}