{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} {{ page_title }} {% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <p>Rank: {{video_game.rank}}</p>
    <p>Name: {{video_game.name}}</p>
    <p>Platform: {{video_game.platform}}</p>
    <p>Year: {{video_game.year}}</p>
    <p>Genre: {{video_game.genre}}</p>
    <p>Publisher: {{video_game.publisher}}</p>
    <p>North America Sales: {{video_game.naSales}} million</p>
    <p>Europe Sales: {{video_game.euSales}} million</p>
    <p>Japan Sales: {{video_game.jpSales}} million</p>
    <p>Other Sales: {{video_game.otherSales}} million</p>
    <p>Global Sales: {{video_game.globalSales}} million</p>

</div>

<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ xs | safe }},
        datasets: [{
            label: 'Global Sales in Millions',
            data: {{ ys }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',

                'rgba(250, 100, 128, 0.2)',
                'rgba(57, 160, 230, 0.2)',
                'rgba(225, 180, 86, 0.2)',
                'rgba(150, 192, 192, 0.2)',
                'rgba(88, 102, 255, 0.2)',
                'rgba(230, 159, 64, 0.2)',

                'rgba(255, 150, 132, 0.2)',
                'rgba(54, 100, 235, 0.2)',
                'rgba(255, 250, 86, 0.2)',

                'rgba(75, 192, 170, 0.2)',
                'rgba(153, 102, 52, 0.2)',
                'rgba(255, 159, 80, 0.2)',

                'rgba(255, 99, 104, 0.2)',
                'rgba(54, 102, 235, 0.2)',
                'rgba(200, 206, 86, 0.2)',
                'rgba(50, 192, 192, 0.2)',
                'rgba(153, 142, 255, 0.2)',
                'rgba(255, 159, 100, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}